body {
  margin: 0;
  background: darkgray;
  overflow: hidden;
  /* text-align: center; */
  display: flex;
  align-items: center;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px 5px 7px 5px;
  margin: 2px;
  cursor: pointer;
}

button:hover {
  background-color: blue;
}

#verticalButtons {
  display: flex;
  flex-direction: column;
}

#carCanvas {
  background: #2a5;
}

#networkCanvas {
  background: black;
}

#miniMapCanvas {
  background: black;
}

.miniMap {
  position: absolute;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  opacity: 0.5;
}

#statistics {
  background: black;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 10px;
  opacity: 0.5;
  overflow: auto;
}

.stat {
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

#counter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40vmin;
  font-family: Arial;
  opacity: 50%;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

#ironManCanvas {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 300px;
  border-radius: 10px;
  opacity: 50%;
}